COVID19DataTracker/COVID19DataTracker/bin/
COVID19DataTracker/COVID19DataTracker/obj/
COVID19DataTracker/COVID19DataTracker.Android/bin/
COVID19DataTracker/COVID19DataTracker.Android/obj/
COVID19DataTracker/COVID19DataTracker.UWP/bin/
COVID19DataTracker/COVID19DataTracker.UWP/obj/